/*
!/.github/
!/docs/
!/examples/
!/misc/
!/src/
!/test/
!/.gitignore
!/.gitmodules
!/AUTHORS.md
!/CHANGELOG.md
!/CMakeLists.txt
!/CONTRIBUTING.md
!/KNOWN_PROBLEMS.md
!/LICENSE.md
!/README.md
!/version.txt
